body {
  background-color: lightblue;
}

h1 {

  font-family: "Times New Roman"; serif;
  text-align: center;
}

p {
 
  margin: 25px;
  font-family: verdana; sans-serif;
  font-size: 20px;
}

ul {
 
  margin: 25px;
  font-family: verdana; sans-serif;
  font-size: 20px;
}

ol {
 
  margin: 25px;
  font-family: verdana; sans-serif;
  font-size: 20px;
}

